:root {
  --color-primary: #2c2724;
  --color-secondary: #49423e;
  --color-accent: #e8ddd5;
  --color-text: #faf9f6;
  --color-error: #dc661e;
  --color-success: #39828c;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2724;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset start */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*reset end*/

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  margin: 2rem auto;
}
section {
  width: 100%;
  margin: 20px 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.title {
  font-family: "Yeseva One", serif;
  font-size: 3rem;
}
.heading {
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
}
.subheading {
  font-family: "Yeseva One", serif;
  font-size: 1.5rem;
}

input,
label,
select,
textarea,
button,
.body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}
.small {
  font-family: "DM Sans", sans-serif;
  font-size: 0.8rem;
}
.container {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 600px) {
  .container {
    max-width: 1000px;
  }
}
button,
.button {
  border: 1px solid var(--color-text);
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 150ms, color 150ms;
  transition-timing-function: ease-out;
}
button:hover,
.button:hover {
  transition: background-color 150ms, color 150ms;
  transition-timing-function: ease-in;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */
